.dashboard {
  &__title {
    margin-right: 14px;
  }

  &__top-line {
    justify-content: space-between;
    width: 100%;
  }

  &__invite {
    gap: 20px;
  }

  &__top-line__avatars__link {
    transition: transform 0.2s ease-in-out;
  }

  &__top-line__avatars__link:hover {
    transform: scale(1.1);
  }

  &__top-line__avatars {
    gap: 4px;
  }

  &__last-avatar-wrapper {
    position: relative;

    span {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 11;
    }

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 37px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
    }
  }

  .dashboard__invite-button {
    color: #ff6767;
    border: 1px solid #ff6767;
    border-radius: 8px;
    padding: 12px 20px;
    gap: 7px;
    transition: transform 0.2s ease-in-out;
  }

  .dashboard__invite-button:hover {
    transform: scale(1.1);
  }
}
