@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.forms {
  min-height: 100dvh;
  padding: 128px;
  background-image: url(../../../public/images/backgroundDecor.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;

  &__container {
    height: 767px;
    border-radius: 10px;
    max-width: 1236px;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-right: 47px;
  }

  .wrapper__forms__img {
    display: flex;
    align-self: flex-end;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 560px;
    width: 100%;

    &__label {
      width: 100%;
      position: relative;

      &__icon {
        position: absolute;
        top: 50%;
        left: 35px;
        transform: translate(-50%, -50%);
      }

      &__input {
        width: 100%;
        padding: 20px 20px 20px 70px;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #565454;
        border-radius: 8px;
      }
    }
  }
}
