@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

button {
  background: transparent;
  border: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #f5f8ff;
  font-family: "Inter", sans-serif;
}

h1,
.h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

h2,
.h2 {
  font-size: 16px;
  font-weight: bold;
}

.redBtn {
  display: inline-block;
  width: fit-content;
  background-color: #ff9090;
  color: #f8f9fb;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s all;
}

.redBtn:hover {
  background-color: red;
  transform: scale(1.1);
}

.orangeBtn {
  display: inline-block;
  width: fit-content;
  background-color: #f24e1e;
  color: #ffffff;
  border-radius: 6px;
  font-size: 14px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  color: #022525;
  font-size: 16px;
  border: 1px solid #565454;
  border-radius: 8px;
  padding: 16px 18px;
}

.input::placeholder {
  color: #999999;
}

.input:focus {
  outline: none;
  border: 2px solid #565454;
}

.big-container {
  max-width: 1285px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 985px;
  width: 100%;
  margin: 0 auto;
}

.site-wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 68px;
  /* justify-content: space-between; */
}

.site-wrapper > :not(.sidebar) {
  flex: 1;
  min-width: 0;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
