.sidebar {
  height: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;

  &__bg {
    background-color: #ff6767;
    height: 868px;
    position: relative;
    max-width: 365px;
    padding: 21px 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 109px;
  }

  &__user-info {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__user-name {
    margin-top: 13px;
    margin-bottom: 2px;
    font-weight: 600;
  }

  &__user-email {
    font-size: 12px;
    font-weight: 400;
  }

  &__navs {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  &__nav {
    width: 100%;
    border-radius: 7px;
    padding: 17px;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: background-color .3s;
  }

  &__nav:hover {
    background-color: rgb(219, 75, 75);
  }

  &__nav:nth-child(2) {
    padding: 17px 17px 17px 25px;
    gap: 26px;
  }

  &__nav.active {
    background-color: #fff;
    color: #FF6767;
  }

  &__logout {
    gap: 15px;
    font-size: 16px;
    font-weight: 500;
  }
}
